.top-row{
    padding: 1em 0;
}

.mat-form-field{
    width: 100%;
}

.mat-mdc-form-field{
    width: 100%;
}

.image-container{
    width: 150px;
    height: 150px;
    background-color: #f7f7f7;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 150;
}